/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #111111;
  position: relative;
  display: grid;
  grid-template-columns: minmax(25rem, max-content) 1fr;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 56.25em) {
  body {
    grid-template-columns: minmax(20rem, max-content) 1fr;
    grid-template-rows: 1fr;
  }
}
@media screen and (max-width: 40.625em) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.section-sidebar {
  background-color: #f8f8f8;
  grid-column: 1/2;
  grid-row: 1/-1;
  position: relative;
  border-right: 1px solid #cccccc;
  overflow: hidden;
  z-index: 100;
}
@media screen and (max-width: 75em) {
  .section-sidebar {
    display: none;
    grid-column: 1/-1;
    grid-row: 1/2;
    border-bottom: none;
  }
}
@media screen and (max-width: 75em) {
  .section-sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 30rem;
    z-index: 1000;
  }
}
@media screen and (max-width: 56.25em) {
  .section-sidebar {
    border-right: none;
    border-bottom: 1px solid #cccccc;
  }
}

.sidebar__checkbox {
  display: none;
}

.sidebar__label {
  display: none;
}

.section-sidebar-tab {
  display: none;
}
@media screen and (max-width: 75em) {
  .section-sidebar-tab {
    display: block;
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.section-content {
  grid-column: 2/-1;
  grid-row: 1/-1;
  background: radial-gradient(farthest-corner at 60% 0%, rgba(244, 229, 236, 0.662745098), #f8f8f8);
  z-index: 10;
  position: relative;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(6rem, min-content) 1fr;
}
@media screen and (max-width: 75em) {
  .section-content {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}
@media screen and (max-width: 40.625em) {
  .section-content {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }
}

.bg__gr-1 {
  background: radial-gradient(circle at left, rgba(168, 172, 198, 0.7019607843), #f8f8f8);
  position: absolute;
  top: 10rem;
  left: 5rem;
  height: 33%;
  width: 100%;
  z-index: -1;
  filter: blur(5rem);
}

.bg__gr-2 {
  background: radial-gradient(circle at left, rgba(216, 147, 225, 0.6588235294), #ffffff);
  position: absolute;
  top: 43%;
  left: 0;
  height: 33%;
  width: 100%;
  z-index: -1;
  filter: blur(5rem);
}

.bg__gr-3 {
  background: radial-gradient(circle at left, rgba(247, 199, 228, 0.7137254902), #ffffff);
  position: absolute;
  top: 66%;
  left: 5rem;
  height: 33%;
  width: 100%;
  z-index: -1;
  filter: blur(5rem);
}

.main__bg {
  background: radial-gradient(farthest-corner at 60% 0%, #ebdfe5, #f8f8f8);
  position: absolute;
  top: 0;
  right: 0;
  height: 30%;
  width: 50%;
  filter: blur(5rem);
  z-index: -1;
}

.heading--1 {
  font-size: 4.8rem;
  color: #3A3A3A;
  line-height: 1.3;
}

.heading--2 {
  font-size: 3.6rem;
  color: #3A3A3A;
  line-height: 1.3;
}

.heading--3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3A3A3A;
}
@media screen and (max-width: 95em) {
  .heading--3 {
    font-size: 1.4rem;
  }
}

.heading--3-5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #3A3A3A;
}
@media screen and (max-width: 95em) {
  .heading--3-5 {
    font-size: 1.2rem;
  }
}

.heading--4 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #3A3A3A;
}

.heading--5 {
  font-size: 1.18rem;
  font-weight: 500;
  color: #3A3A3A;
}

.sidebar__logo__img {
  width: 3.5rem;
  height: 3.5rem;
}
.sidebar__logo__box {
  display: flex;
  flex-direction: column;
  margin: 0rem 0;
  border-bottom: 1px solid #cccccc;
}
.sidebar__logo__main__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem;
}
.sidebar__logo__main__box h3 {
  margin-right: auto;
}
.sidebar__logo__main__box ion-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.sidebar__logo__items {
  list-style: none;
  margin: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebar__logo__item {
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  transition: all 0.4s;
}
.sidebar__logo__item:first-child {
  background-color: #ffffff;
  box-shadow: 0 0 1.5rem #d7d7d7;
}
.sidebar__logo__item a {
  text-decoration: none;
  color: #3A3A3A;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.sidebar__logo__item a p {
  margin-right: auto;
}
.sidebar__logo__item a span {
  background-color: #ffffff;
  color: #6235E2;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  box-shadow: 0 0 1rem 0 #d7d7d7;
}
.sidebar__logo__item:hover {
  font-weight: 600;
  background-color: #ffffff;
  box-shadow: 0 0 1.5rem #d7d7d7;
}
.sidebar__logo__icon {
  color: #6235E2;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.sidebar__main__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 0;
  gap: 2rem;
}
.sidebar__main__box h3 {
  text-transform: uppercase;
  margin: 0rem 2.5rem;
}
.sidebar__main__items {
  list-style: none;
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebar__main__item {
  margin-right: 1rem;
  cursor: pointer;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  transition: all 0.4s;
}
.sidebar__main__item a {
  text-decoration: none;
  color: #111111;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.sidebar__main__item a p {
  margin-right: auto;
}
.sidebar__main__item a span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__main__item a ion-icon {
  color: #111111;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.sidebar__main__item:hover {
  font-weight: 600;
  background-color: #ffffff;
  box-shadow: 0 0 1.5rem #d7d7d7;
}
.sidebar__main__item:hover ion-icon {
  color: #6235E2;
}
.sidebar__main__icon {
  color: #4d4d4d;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}
.sidebar__main__support {
  margin: 0rem 1.5rem;
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0 0 1.5rem #d7d7d7;
  cursor: pointer;
}
.sidebar__main__support .support__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.sidebar__main__support .support__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: auto;
}
.sidebar__main__support .sidebar__main__support__icon {
  color: #4d4d4d;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.sidebar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
  padding-bottom: 1.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid #cccccc;
}
.sidebar-box img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
}
.sidebar-box h3 {
  margin-right: auto;
  font-weight: 600;
  font-size: 1.4rem;
}
.sidebar-box ion-icon {
  color: #4d4d4d;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 75em) {
  .sidebar__checkbox {
    display: none;
  }
  .sidebar__label {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1100;
    background-color: #ffffff;
    padding: 0.7rem;
    line-height: 1rem;
    border-radius: 0.5rem;
    animation: slideIn 0.5s ease-in-out;
  }
  .sidebar__label ion-icon {
    font-size: 2rem;
    color: #6235E2;
  }
  .sidebar__checkbox:not(:checked) ~ .section-sidebar {
    display: block;
    transform: translateX(-100%);
    animation: slideOutSidebar 0.4s ease forwards;
  }
  .sidebar__checkbox:checked ~ .section-sidebar {
    display: block;
    transform: translateX(0);
    animation: slideInSidebar 0.4s ease forwards;
  }
  .sidebar__checkbox:checked ~ .section-sidebar .journal__icon {
    display: none;
  }
  .sidebar__checkbox:checked ~ *:not(.section-sidebar):not(.sidebar__label) {
    filter: blur(5px);
  }
}
@keyframes slideInSidebar {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOutSidebar {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.content__header {
  height: 6rem;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  gap: 5rem;
}
@media screen and (max-width: 56.25em) {
  .content__header {
    gap: 2rem;
  }
}
@media screen and (max-width: 40.625em) {
  .content__header {
    border-bottom: none;
  }
}
.content__header .header__greeting {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__header .header__greeting p {
  margin-right: auto;
}
.content__header .header__search {
  display: flex;
  align-items: center;
  position: relative;
  width: 70%;
  margin-right: auto;
}
@media screen and (max-width: 40.625em) {
  .content__header .header__search {
    display: none;
  }
}
.content__header .header__search__icon {
  font-size: 1.6rem;
  margin-right: 1rem;
  position: absolute;
  color: #808080;
  z-index: 10;
  left: 1rem;
  cursor: pointer;
}
.content__header .header__search__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 0.5rem;
  color: #111111;
  z-index: 10;
  right: 0.5rem;
  width: 4rem;
  box-shadow: 0 0 1.5rem rgba(215, 215, 215, 0.8156862745);
  cursor: pointer;
}
.content__header .header__search__icons ion-icon {
  font-weight: 800;
}
.content__header .header__search__input {
  font-size: 1.4rem;
  width: 100%;
  border: none;
  transition: all 0.3s;
  color: #3A3A3A;
  background-color: transparent;
  box-shadow: 0 0 1.5rem rgba(215, 215, 215, 0.8156862745);
  border-radius: 1rem;
  padding: 0.7rem 3.5rem;
  position: relative;
}
.content__header .header__search__input:focus {
  outline: 1px solid #a6a6a6;
  box-shadow: none;
}
.content__header .header__notification {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 95em) {
  .content__header .header__notification {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 40.625em) {
  .content__header .header__notification {
    margin-right: 0rem;
  }
}
.content__header .header__notification__icon {
  cursor: pointer;
  padding: 0.7rem;
  height: 1.5rem;
  width: 1.5rem;
  box-shadow: 0 0 1.5rem rgba(215, 215, 215, 0.8156862745);
  border-radius: 50%;
  color: #111111;
  background-color: #ffffff;
}
.content__main .header__search__phone {
  display: none;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 40.625em) {
  .content__main .header__search__phone {
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 1px solid #cccccc;
  }
}
.content__main .header__search__phone__icon {
  font-size: 1.6rem;
  margin-right: 1rem;
  position: absolute;
  color: #808080;
  z-index: 10;
  left: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 40.625em) {
  .content__main .header__search__phone__icon {
    left: 3rem;
  }
}
.content__main .header__search__phone__input {
  font-size: 1.4rem;
  width: 90%;
  border: none;
  transition: all 0.3s;
  color: #3A3A3A;
  background-color: transparent;
  box-shadow: 0 0 1.5rem rgba(215, 215, 215, 0.8156862745);
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  padding-left: 3.5rem;
  position: relative;
}
@media screen and (max-width: 40.625em) {
  .content__main .header__search__phone__input {
    margin: 0 auto;
  }
}
.content__main .header__search__phone__input:focus {
  outline: 1px solid #a6a6a6;
  box-shadow: none;
}
.content__main .main__header {
  grid-column: 1/-1;
  height: auto;
  border-radius: 1rem;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 1.5rem;
  gap: 3rem;
}
@media screen and (min-width: 112.5em) {
  .content__main .main__header {
    margin: 3rem;
  }
}
@media screen and (max-width: 95em) {
  .content__main .main__header {
    gap: 3rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 56.25em) {
  .content__main .main__header {
    flex-direction: column;
    gap: 1rem;
  }
}
.content__main .main__header__date {
  width: 30rem;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #cccccc;
  padding-right: 2.5rem;
}
.content__main .main__header__date h3 {
  font-weight: 600;
}
.content__main .main__header__date h3 span {
  font-weight: 400;
}
@media screen and (min-width: 112.5em) {
  .content__main .main__header__date {
    width: 35rem;
  }
}
@media screen and (max-width: 56.25em) {
  .content__main .main__header__date {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #cccccc;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}
.content__main .main__header__btns {
  width: 30rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  border-left: 2px solid #cccccc;
}
@media screen and (min-width: 112.5em) {
  .content__main .main__header__btns {
    width: 35rem;
    justify-content: space-around;
  }
}
@media screen and (max-width: 56.25em) {
  .content__main .main__header__btns {
    min-width: 100%;
    border-left: none;
    justify-content: space-between;
    border-top: 2px solid #cccccc;
    padding-top: 1rem;
    gap: 1rem;
  }
}
.content__main .main__header__btns button {
  max-width: 100%;
  height: 3.5rem;
  padding: 0 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #3A3A3A;
  cursor: pointer;
  transition: all 0.1s;
}
.content__main .main__header__btns button:hover {
  background-color: #ffffff;
  color: #3A3A3A;
  box-shadow: 0 0 1.5rem rgba(215, 215, 215, 0.8156862745);
  transform: scale(1.05);
}
.content__main .main__header__btns button:last-child {
  background-color: #111111;
  color: #e6e6e6;
  transition: all 0.1s;
}
.content__main .main__header__btns button:last-child:hover {
  color: #e6e6e6;
}
.content__main .main__header .header__tasks__img {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
@media screen and (min-width: 112.5em) {
  .content__main .main__header .header__tasks__img {
    width: 75%;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 95em) {
  .content__main .main__header .header__tasks__img {
    width: 70%;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 56.25em) {
  .content__main .main__header .header__tasks__img {
    width: 100%;
    border-right: none;
    padding-right: 0;
  }
}
.content__main .main__header .header__tasks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: auto;
}
.content__main .main__header .header__imgs {
  display: flex;
  margin-left: auto;
}
.content__main .main__header .header__img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid #ffffff;
}
.content__main .main__header .header__img:last-child {
  margin-right: 0;
}
@media screen and (max-width: 56.25em) {
  .content__main .main__header .header__img {
    height: 3.7rem;
    width: 3.7rem;
    border: 2px solid #ffffff;
  }
}
@media screen and (max-width: 40.625em) {
  .content__main .main__header .header__img {
    height: 3.5rem;
    width: 3.5rem;
    border: 2px solid #ffffff;
  }
}

.main__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  padding: 0 2rem;
}
@media screen and (min-width: 112.5em) {
  .main__cards {
    gap: 3rem;
    padding: 0 3rem;
  }
}
@media screen and (max-width: 56.25em) {
  .main__cards {
    grid-teplate-rows: 30rem;
  }
}
@media screen and (max-width: 40.625em) {
  .main__cards {
    gap: 1rem;
  }
}

.cards__box {
  border-radius: 1rem;
  border: 1px solid #cccccc;
  padding: 1rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 60rem;
}
.cards__box--2 {
  max-height: 55.7rem;
}
.cards__box__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid #cccccc;
}
.cards__box__header h3 {
  font-weight: 600;
  margin-right: auto;
}
.cards__box__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50rem;
  overflow-y: auto;
}
.cards__box__body::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 56.25em) {
  .cards__box__body {
    max-height: 40rem;
  }
}
@media screen and (max-width: 40.625em) {
  .cards__box__body {
    gap: 0.5rem;
  }
}
.cards__box__icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #3A3A3A;
  cursor: pointer;
}
.cards__box__icon:hover {
  color: #666666;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  min-height: fit-content;
}
@media screen and (max-width: 40.625em) {
  .card {
    padding: 1rem;
  }
}
.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card__header__btn {
  height: 2.7rem;
  padding: 0 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: #3794AA;
  cursor: pointer;
  transition: all 0.1s;
}
.card__header__btn:last-child {
  background-color: transparent;
  margin-left: auto;
  padding: 0 0.5rem;
}
.card__header__btn:last-child ion-icon {
  font-size: 1.5rem;
  color: #3794AA;
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(0, 60, 145, 0.682);
}
.card__body p {
  font-weight: 600;
  color: rgba(0, 60, 145, 0.682);
}
.card__body p span {
  font-weight: 700;
}
.card__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 112.5em) {
  .card__progress {
    gap: 1rem;
  }
}
.card__progress .progress__pr {
  display: flex;
  justify-content: space-between;
}
.card__progress .progress__pr p {
  font-size: 1.18rem;
  font-weight: 600;
}
@media screen and (min-width: 112.5em) {
  .card__progress .progress__balls {
    justify-content: space-between;
  }
}
.card__progress .progress__ball--active {
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(0, 60, 145, 0.682);
  cursor: pointer;
}
@media screen and (min-width: 112.5em) {
  .card__progress .progress__ball--active {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card__progress .progress__ball--deactive {
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(0, 60, 145, 0.185);
  cursor: pointer;
  transition: all 0.2s;
}
.card__progress .progress__ball--deactive:hover {
  color: rgba(0, 60, 145, 0.682);
}
@media screen and (min-width: 112.5em) {
  .card__progress .progress__ball--deactive {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.card__footer .footer__imgs {
  display: flex;
}
.card__footer .footer__img {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #ffffff;
  margin-right: -1.2rem;
  border-radius: 50%;
}
.card__footer .footer__btns {
  display: flex;
  gap: 1rem;
}
.card__footer .footer__btn {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: transparent;
  color: #3794AA;
  cursor: pointer;
  transition: all 0.1s;
}
.card__footer .footer__btn ion-icon {
  font-size: 1.5rem;
}

.sky-blue-bg {
  background: radial-gradient(farthest-corner at 100% 0%, #0442ef, #f8f8f8);
  position: absolute;
  top: -5rem;
  right: -1rem;
  height: 100%;
  width: 100%;
  filter: blur(15rem);
  z-index: -1;
}

.card-pur {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  min-height: fit-content;
}
.card-pur__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card-pur__header__btn {
  height: 2.7rem;
  padding: 0 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: rgb(48, 3, 82);
  cursor: pointer;
  transition: all 0.1s;
}
.card-pur__header__btn:last-child {
  background-color: transparent;
  margin-left: auto;
  padding: 0 0.5rem;
}
.card-pur__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-pur__body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(48, 3, 82);
}
.card-pur__body p {
  font-weight: 600;
  color: rgb(48, 3, 82);
}
.card-pur__body p span {
  font-weight: 700;
}
.card-pur__body .card-pur__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-pur__body .card-pur__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.card-pur__body .card-pur__item p {
  font-weight: 600;
  color: rgb(48, 3, 82);
}
.card-pur__body .card-pur__item ion-icon {
  font-size: 1.8rem;
  color: rgb(48, 3, 82);
}
@media screen and (min-width: 112.5em) {
  .card-pur__body .card-pur__item ion-icon {
    font-size: 2.5rem;
  }
}
.card-pur__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-pur__progress .progress__pr {
  display: flex;
  justify-content: space-between;
}
.card-pur__progress .progress__pr p {
  font-size: 1.18rem;
  font-weight: 600;
  color: rgba(48, 3, 82, 0.755);
}
.card-pur__progress .progress__ball--active {
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgb(48, 3, 82);
  cursor: pointer;
}
@media screen and (min-width: 112.5em) {
  .card-pur__progress .progress__ball--active {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-pur__progress .progress__ball--deactive {
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(48, 3, 82, 0.188);
  transition: all 0.2s;
}
.card-pur__progress .progress__ball--deactive:hover {
  color: rgb(48, 3, 82);
  cursor: pointer;
}
@media screen and (min-width: 112.5em) {
  .card-pur__progress .progress__ball--deactive {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-pur__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: transparent;
}
.card-pur__footer .footer__imgs {
  display: flex;
}
.card-pur__footer .footer__img {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #ffffff;
  margin-right: -1.2rem;
  border-radius: 50%;
}
.card-pur__footer .footer__btns {
  display: flex;
  gap: 1rem;
}
.card-pur__footer .footer__btn {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: transparent;
  color: rgba(48, 3, 82, 0.755);
  cursor: pointer;
  transition: all 0.1s;
}
.card-pur__footer .footer__btn ion-icon {
  font-size: 1.5rem;
}

.sky-pur-bg {
  background: linear-gradient(180deg, rgba(126, 113, 208, 0.625) 10%, rgba(126, 113, 208, 0.319) 100%, rgba(255, 255, 255, 0.093) 100%);
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card-org {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  min-height: fit-content;
}
.card-org__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card-org__header__btn {
  height: 2.7rem;
  padding: 0 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: rgba(222, 79, 57, 0.752);
  cursor: pointer;
  transition: all 0.1s;
}
.card-org__header__btn:last-child {
  background-color: transparent;
  margin-left: auto;
  padding: 0 0.5rem;
}
.card-org__header__btn:last-child ion-icon {
  font-size: 1.5rem;
  color: rgba(222, 79, 57, 0.752);
}
.card-org__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-org__body h3 {
  font-weight: 600;
  line-height: 1.2;
  color: rgba(222, 79, 57, 0.752);
}
.card-org__body p {
  font-weight: 600;
  color: rgba(222, 79, 57, 0.752);
}
.card-org__body p span {
  font-weight: 700;
}
.card-org__body .card-pur__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-org__body .card-pur__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.card-org__body .card-pur__item p {
  font-weight: 600;
  color: rgb(48, 3, 82);
}
.card-org__body .card-pur__item ion-icon {
  font-size: 1.8rem;
  color: rgb(48, 3, 82);
}
@media screen and (min-width: 112.5em) {
  .card-org__body .card-pur__item ion-icon {
    font-size: 2.5rem;
  }
}
.card-org__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-org__progress .progress__pr {
  display: flex;
  justify-content: space-between;
}
.card-org__progress .progress__pr p {
  font-size: 1.18rem;
  font-weight: 600;
  color: rgba(222, 79, 57, 0.752);
}
.card-org__progress .progress__ball--active {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(222, 79, 57, 0.892);
}
@media screen and (min-width: 112.5em) {
  .card-org__progress .progress__ball--active {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-org__progress .progress__ball--deactive {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(222, 79, 57, 0.168);
  transition: all 0.2s;
}
.card-org__progress .progress__ball--deactive:hover {
  color: rgba(222, 79, 57, 0.892);
}
@media screen and (min-width: 112.5em) {
  .card-org__progress .progress__ball--deactive {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-org__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: transparent;
}
.card-org__footer .footer__imgs {
  display: flex;
}
.card-org__footer .footer__img {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #ffffff;
  margin-right: -1.2rem;
  border-radius: 50%;
}
.card-org__footer .footer__btns {
  display: flex;
  gap: 1rem;
}
.card-org__footer .footer__btn {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: transparent;
  color: rgba(48, 3, 82, 0.755);
  cursor: pointer;
  transition: all 0.1s;
}
.card-org__footer .footer__btn ion-icon {
  font-size: 1.5rem;
}

.sky-org-bg {
  background: linear-gradient(180deg, rgba(222, 79, 57, 0.232) 90%, rgba(222, 79, 57, 0.073) 100%);
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card-lor {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  min-height: fit-content;
}
.card-lor__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card-lor__header__btn {
  height: 2.7rem;
  padding: 0 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: rgba(204, 113, 21, 0.718);
  cursor: pointer;
  transition: all 0.1s;
}
.card-lor__header__btn:last-child {
  background-color: transparent;
  margin-left: auto;
  padding: 0 0.5rem;
}
.card-lor__header__btn:last-child ion-icon {
  font-size: 1.5rem;
  color: rgba(204, 113, 21, 0.718);
}
.card-lor__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-lor__body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(204, 113, 21, 0.926);
}
.card-lor__body p {
  font-weight: 600;
  color: rgba(204, 113, 21, 0.718);
}
.card-lor__body p span {
  font-weight: 700;
}
.card-lor__body .card-pur__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-lor__body .card-pur__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.card-lor__body .card-pur__item p {
  font-weight: 600;
  color: rgba(169, 96, 19, 0.767);
}
.card-lor__body .card-pur__item ion-icon {
  font-size: 1.8rem;
  color: rgba(169, 96, 19, 0.767);
}
@media screen and (min-width: 112.5em) {
  .card-lor__body .card-pur__item ion-icon {
    font-size: 2.5rem;
  }
}
.card-lor__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-lor__progress .progress__pr {
  display: flex;
  justify-content: space-between;
}
.card-lor__progress .progress__pr p {
  font-size: 1.18rem;
  font-weight: 600;
  color: rgba(204, 113, 21, 0.718);
}
.card-lor__progress .progress__ball--active {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgb(204, 112, 21);
}
@media screen and (min-width: 112.5em) {
  .card-lor__progress .progress__ball--active {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-lor__progress .progress__ball--deactive {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(204, 113, 21, 0.14);
  transition: all 0.2s;
}
.card-lor__progress .progress__ball--deactive:hover {
  color: rgb(204, 113, 21);
}
@media screen and (min-width: 112.5em) {
  .card-lor__progress .progress__ball--deactive {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-lor__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: transparent;
}
.card-lor__footer .footer__imgs {
  display: flex;
}
.card-lor__footer .footer__img {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #ffffff;
  margin-right: -1.2rem;
  border-radius: 50%;
}
.card-lor__footer .footer__btns {
  display: flex;
  gap: 1rem;
}
.card-lor__footer .footer__btn {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(204, 113, 21, 0.211);
  background-color: transparent;
  color: rgba(204, 113, 21, 0.718);
  cursor: pointer;
  transition: all 0.1s;
}
.card-lor__footer .footer__btn ion-icon {
  font-size: 1.5rem;
}

.light-org-bg {
  background: linear-gradient(180deg, rgba(204, 113, 21, 0.31) 60%, rgba(204, 113, 21, 0.147) 100%, rgba(222, 79, 57, 0.073) 100%);
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card-grn {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  min-height: fit-content;
}
.card-grn__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card-grn__header__btn {
  height: 2.7rem;
  padding: 0 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: rgba(67, 156, 100, 0.81);
  cursor: pointer;
  transition: all 0.1s;
}
.card-grn__header__btn:last-child {
  background-color: transparent;
  margin-left: auto;
  padding: 0 0.5rem;
}
.card-grn__header__btn:last-child ion-icon {
  font-size: 1.5rem;
  color: rgba(67, 156, 100, 0.81);
}
.card-grn__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-grn__body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(67, 156, 100, 0.81);
}
.card-grn__body p {
  font-weight: 600;
  color: rgba(67, 156, 100, 0.81);
}
.card-grn__body p span {
  font-weight: 700;
}
.card-grn__body .card-grn__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-grn__body .card-grn__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.card-grn__body .card-grn__item p {
  font-weight: 600;
  color: rgba(67, 156, 100, 0.81);
}
.card-grn__body .card-grn__item ion-icon {
  font-size: 1.8rem;
  color: rgba(67, 156, 100, 0.81);
}
@media screen and (min-width: 112.5em) {
  .card-grn__body .card-grn__item ion-icon {
    font-size: 2.5rem;
  }
}
.card-grn__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-grn__progress .progress__pr {
  display: flex;
  justify-content: space-between;
}
.card-grn__progress .progress__pr p {
  font-size: 1.18rem;
  font-weight: 600;
  color: rgba(67, 156, 100, 0.81);
}
.card-grn__progress .progress__ball--active {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(67, 156, 100, 0.81);
}
@media screen and (min-width: 112.5em) {
  .card-grn__progress .progress__ball--active {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-grn__progress .progress__ball--deactive {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(67, 156, 100, 0.178);
  transition: all 0.2s;
}
.card-grn__progress .progress__ball--deactive:hover {
  color: rgba(67, 156, 100, 0.81);
}
@media screen and (min-width: 112.5em) {
  .card-grn__progress .progress__ball--deactive {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.card-grn__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: transparent;
}
.card-grn__footer .footer__imgs {
  display: flex;
}
.card-grn__footer .footer__img {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #ffffff;
  margin-right: -1.2rem;
  border-radius: 50%;
}
.card-grn__footer .footer__btns {
  display: flex;
  gap: 1rem;
}
.card-grn__footer .footer__btn {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(67, 156, 100, 0.266);
  background-color: transparent;
  color: rgba(67, 156, 100, 0.81);
  cursor: pointer;
  transition: all 0.1s;
}
.card-grn__footer .footer__btn ion-icon {
  font-size: 1.5rem;
}

.light-grn-bg {
  background: linear-gradient(180deg, rgba(67, 156, 100, 0.218) 60%, rgba(67, 156, 100, 0.132) 100%, rgba(222, 79, 57, 0.073) 100%);
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card-pink {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  min-height: fit-content;
}
.card-pink__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card-pink__header__btn {
  height: 2.7rem;
  padding: 0 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: rgba(211, 76, 186, 0.792);
  cursor: pointer;
  transition: all 0.1s;
}
.card-pink__header__btn:last-child {
  background-color: transparent;
  margin-left: auto;
  padding: 0 0.5rem;
}
.card-pink__header__btn:last-child ion-icon {
  font-size: 1.5rem;
  color: rgba(211, 76, 186, 0.792);
}
.card-pink__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-pink__body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(211, 76, 186, 0.792);
}
.card-pink__body p {
  font-weight: 600;
  color: rgba(211, 76, 186, 0.792);
}
.card-pink__body p span {
  font-weight: 700;
}
.card-pink__body .card-grn__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-pink__body .card-grn__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.card-pink__body .card-grn__item p {
  font-weight: 600;
  color: rgba(211, 76, 186, 0.792);
}
.card-pink__body .card-grn__item ion-icon {
  font-size: 1.8rem;
  color: rgba(211, 76, 186, 0.792);
}
.card-pink__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-pink__progress .progress__pr {
  display: flex;
  justify-content: space-between;
}
.card-pink__progress .progress__pr p {
  font-size: 1.18rem;
  font-weight: 600;
  color: rgba(211, 76, 186, 0.792);
}
.card-pink__progress .progress__ball--active {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(211, 76, 186, 0.792);
}
.card-pink__progress .progress__ball--deactive {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(67, 156, 100, 0.178);
  transition: all 0.2s;
}
.card-pink__progress .progress__ball--deactive:hover {
  color: rgba(67, 156, 100, 0.81);
}
.card-pink__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: transparent;
}
.card-pink__footer .footer__imgs {
  display: flex;
}
.card-pink__footer .footer__img {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #ffffff;
  margin-right: -1.2rem;
  border-radius: 50%;
}
.card-pink__footer .footer__btns {
  display: flex;
  gap: 1rem;
}
.card-pink__footer .footer__btn {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(211, 76, 186, 0.203);
  background-color: transparent;
  color: rgba(211, 76, 186, 0.792);
  cursor: pointer;
  transition: all 0.1s;
}
.card-pink__footer .footer__btn ion-icon {
  font-size: 1.5rem;
}

.pink-bg {
  background: linear-gradient(180deg, rgba(255, 193, 245, 0.723) 90%, rgba(222, 79, 57, 0.073) 100%);
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.card-bl-gr {
  background-color: #ffffff;
  border-radius: 1rem;
  border: 1px solid #e6e6e6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  min-height: fit-content;
}
.card-bl-gr__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.card-bl-gr__header__btn {
  height: 2.7rem;
  padding: 0 1rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid #cccccc;
  background-color: rgba(255, 255, 255, 0.3137254902);
  color: rgba(34, 137, 163, 0.766);
  cursor: pointer;
  transition: all 0.1s;
}
.card-bl-gr__header__btn:last-child {
  background-color: transparent;
  margin-left: auto;
  padding: 0 0.5rem;
}
.card-bl-gr__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-bl-gr__body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(34, 137, 163, 0.766);
}
.card-bl-gr__body p {
  font-weight: 600;
  color: rgba(34, 137, 163, 0.766);
}
.card-bl-gr__body p span {
  font-weight: 700;
}
.card-bl-gr__body .card-bl-gr__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-bl-gr__body .card-bl-gr__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.card-bl-gr__body .card-bl-gr__item p {
  font-weight: 600;
  color: rgba(34, 137, 163, 0.766);
}
.card-bl-gr__body .card-bl-gr__item ion-icon {
  font-size: 1.8rem;
  color: rgba(34, 137, 163, 0.766);
}
@media screen and (min-width: 112.5em) {
  .card-bl-gr__body .card-bl-gr__item ion-icon {
    font-size: 2.5rem;
  }
}
.card-bl-gr__progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-bl-gr__progress .progress__pr {
  display: flex;
  justify-content: space-between;
}
.card-bl-gr__progress .progress__pr p {
  font-size: 1.18rem;
  font-weight: 600;
  color: rgba(34, 137, 163, 0.766);
}
.card-bl-gr__progress .progress__ball--active {
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(34, 137, 163, 0.766);
  cursor: pointer;
}
@media screen and (min-width: 112.5em) {
  .card-bl-gr__progress .progress__ball--active {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.card-bl-gr__progress .progress__ball--deactive {
  width: 2rem;
  height: 2rem;
  margin-right: -0.5rem;
  border-radius: 50%;
  color: rgba(34, 137, 163, 0.207);
  transition: all 0.2s;
  cursor: pointer;
}
.card-bl-gr__progress .progress__ball--deactive:hover {
  color: rgba(34, 137, 163, 0.766);
}
@media screen and (min-width: 112.5em) {
  .card-bl-gr__progress .progress__ball--deactive {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.card-bl-gr__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: transparent;
}
.card-bl-gr__footer .footer__imgs {
  display: flex;
}
.card-bl-gr__footer .footer__img {
  height: 2.5rem;
  width: 2.5rem;
  border: 2px solid #ffffff;
  margin-right: -1.2rem;
  border-radius: 50%;
}
.card-bl-gr__footer .footer__btns {
  display: flex;
  gap: 1rem;
}
.card-bl-gr__footer .footer__btn {
  height: 2.5rem;
  padding: 0 0.5rem;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(34, 137, 163, 0.241);
  background-color: transparent;
  color: rgba(34, 137, 163, 0.766);
  cursor: pointer;
  transition: all 0.1s;
}
.card-bl-gr__footer .footer__btn ion-icon {
  font-size: 1.5rem;
}

.bl-gr-bg {
  background: linear-gradient(180deg, rgba(34, 137, 163, 0.19) 60%, rgba(34, 137, 163, 0.062) 100%, rgba(255, 255, 255, 0.073) 100%);
  position: absolute;
  top: 0rem;
  right: 0rem;
  height: 100%;
  width: 100%;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
