.heading--1{
    font-size: 4.8rem;
    color: $color-black-light;
    line-height: 1.3;
}

.heading--2{
    font-size: 3.6rem;
    color: $color-black-light;
    line-height: 1.3;
}

.heading--3{
    font-size: 1.8rem;
    font-weight: 600;
    color: $color-black-light;
}

.heading--3-5{
    font-size: 1.4rem;
    font-weight: 500;
    color: $color-black-light;
}

.heading--4{
    // font-weight: 700;
    font-size: 1.3rem;
    font-weight: 600;
    color: $color-black-light;
}

.heading--5{
    font-size: 1.18rem;
    font-weight: 500;
    color: $color-black-light;
}
