$color-sky-purple: #D6D2F9;
$color-yellow-orange: #FAEDDB;
$color-orange-dark: #CF6E15;
$color-brown: #BB702A;

$color-mint: #C3F5E6;
$color-mint-dark: #329B5A;

$color-pink: #F9D6D5;
$color-pink-light: #fff2f253;
$color-pink-dark: #E07074;

$color-sky-green: #DBF1F7;
$color-sky-green-dark: #3794AA;

$color-logo: #6235E2;

$color-grey: #808080;
$color-grey-light-1: #8d8d8d;
$color-grey-light-2: #a6a6a6;
$color-grey-light-3: #c0c0c0;

$color-grey-br: #e6e6e6;

$color-grey-dark-1: #666666;
$color-grey-dark-2: #4d4d4d;
$color-grey-dark-3: #333333;

$color-black-dark: #111111;
$color-black-light: #3A3A3A;

$color-white: #ffffff;
$color-white-dark-1: #e6e6e6;
$color-white-dark-2: #cccccc;
$color-white-dark-3: #b3b3b3;
