.sidebar {
  &__logo {
    &__img {
      width: 3.5rem;
      height: 3.5rem;
    }
    &__box {
      display: flex;
      flex-direction: column;
      // gap: .5rem;
      margin: 0rem 0;
      border-bottom: 1px solid $color-white-dark-2;
    }
    &__main__box {
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: space-between;
      gap: 1rem;
      margin: 1.5rem;

      & h3 {
        margin-right: auto;
      }

      & ion-icon {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }

    &__items {
      list-style: none;
      margin: 1.5rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &__item {
      margin-right: 1rem;
      cursor: pointer;
      padding: 0.7rem 1rem;
      border-radius: 1rem;
      transition: all 0.4s;

      &:first-child {
        background-color: $color-white;
        box-shadow: 0 0 1.5rem #d7d7d7;
      }

      & a {
        text-decoration: none;
        color: $color-black-light;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-weight: 500;

        & p {
          margin-right: auto;
        }
        & span {
          background-color: #ffffff;
          color: $color-logo;
          padding: 0.2rem 1rem;
          border-radius: 0.5rem;
          font-weight: 600;
          box-shadow: 0 0 1rem 0 #d7d7d7;
        }
      }

      &:hover {
        font-weight: 600;
        background-color: $color-white;
        box-shadow: 0 0 1.5rem #d7d7d7;
      }
    }
    &__icon {
      color: $color-logo;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
  }

  &__main {
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 1.5rem 0;
      gap: 2rem;

      & h3 {
        text-transform: uppercase;
        margin: 0rem 2.5rem;
      }
    }

    &__items {
      list-style: none;
      margin: 1rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &__item {
      margin-right: 1rem;
      cursor: pointer;
      padding: 0.7rem 1rem;
      border-radius: 1rem;
      transition: all 0.4s;

      & a {
        text-decoration: none;
        color: $color-black-dark;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-weight: 500;

        & p {
          margin-right: auto;
        }
        & span {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & ion-icon {
          color: $color-black-dark;
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
        }
      }

      &:hover {
        font-weight: 600;
        background-color: $color-white;
        box-shadow: 0 0 1.5rem #d7d7d7;

        & ion-icon {
          color: $color-logo;
        }
      }
    }
    &__icon {
      color: $color-grey-dark-2;
      width: 1.8rem;
      height: 1.8rem;
      cursor: pointer;
    }

    &__support {
      margin: 0rem 1.5rem;
      padding: 0.7rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $color-white;
      border-radius: 1rem;
      gap: 1rem;
      box-shadow: 0 0 1.5rem #d7d7d7;
      cursor: pointer;

      & .support__img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
      }
      & .support__info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-right: auto;
      }
      & .sidebar__main__support__icon {
        color: $color-grey-dark-2;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }
}

.sidebar-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
  padding-bottom: 1.5rem;
  gap: 0.5rem;
  border-bottom: 1px solid $color-white-dark-2;

  & img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
  }
  & h3 {
    margin-right: auto;
    font-weight: 600;
    font-size: 1.4rem;
  }

  & input {
    // display: none;
  }

  & ion-icon {
    color: $color-grey-dark-2;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
@include response(tab-land) {
  .sidebar__checkbox {
    display: none;
  }

  .sidebar__label {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1100;
    background-color: $color-white;
    padding: 0.7rem;
    border-radius: 1rem;
    animation: slideIn 0.5s ease-in-out;
    ion-icon {
      font-size: 2rem;
      color: $color-logo;
    }
  }

  .sidebar__checkbox:not(:checked) ~ .section-sidebar {
    display: block;
    transform: translateX(-100%);
    animation: slideOutSidebar 0.4s ease forwards;
  }
  .sidebar__checkbox:checked ~ .section-sidebar {
    display: block;
    transform: translateX(0);
    animation: slideInSidebar 0.4s ease forwards;
  }

  .sidebar__checkbox:checked ~ .section-sidebar {
    & .journal__icon {
      display: none;
    }
  }

  .sidebar__checkbox:checked ~ *:not(.section-sidebar):not(.sidebar__label) {
    filter: blur(5px);
  }
}

@keyframes slideInSidebar {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// Slide Out Animation
@keyframes slideOutSidebar {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
